.App {
  font-family: Circular, Helvetica, Arial, sans-serif;
  text-align: left;
  position: relative;
}

.App-header {
  padding: 20px;
  color: white;

  position: fixed;
  top: 0;
  width: 100%;
  height: 117px;
  background: #222326;
}

.App-footer {
  background-color: #000;
  padding: 80px 0 50px;
}

.App-logo {
  height: 40px;
}

.App .secondaryNav {
  padding: 30px;

  position: fixed;
  top: 117px;
  width: 100%;
  height: 117px;
  background: #222326;
}

.App .secondaryNav.secondaryNav-webApi {
  background: #f59b23;
  color: #FFF;
}

.App .secondaryNav.secondaryNav-webApi h1 {
  padding: 0;
  margin: 0;
}

.App .secondaryNav.secondaryNav-webApi h1 > span.version {
  display: inline-block;
  padding: 5px 10px;
  margin-left: 10px;
  position: relative;
  top: -8px;
  
  background: rgba(0, 0, 0, 0.3);
  
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0;
}

.App .sidebarNav {
  padding-top: 50px;
  word-wrap: break-word;
  color: white;
}

.App .sidebarNav > ul {
  margin: 0;
  padding: 10px 0;
  line-height: 1.75;
  position: fixed;
}

.App .sidebarNav > ul > li > ul {
  margin: 0;
  padding: 0 20px;
  line-height: 1.5;
}

.App .sidebarNav > ul > li,
.App .sidebarNav > ul > li > ul > li {
  list-style: circle inside;
}

.App .sidebarNav > ul > li > a {
  font-size: 20px;
  font-weight: 800;
}

.App .sidebarNav > ul > li > ul > li > a {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.5)
}

.App .sidebarNav > ul > li a {
  color: white;
}

.App .sidebarNav > ul > li a:hover {
  text-decoration: underline;
}

.App .docsContent {
  position: relative;
  color: white;
}

.App .docsContent .docsContentCodeMenu {
  position: fixed;
  width: 40%;
  top: 0;
  right: 0;
  background: #000;
  height: 100%;
}

.App .docsContent .docsContentSection {
  position: relative;
  width: 60%;
  left: 0;
}

.App .docsContent > .docsContentSection > h1 > a {
  color: white;
}

.App .docsContent > .docsContentSection > .endpointCategory {
  color: white;
}

.App .docsContent > .docsContentSection > .endpointCategory > h1 {
  color: rgba(255, 255, 255, 0.5);  
  font-weight: 200;
  letter-spacing: -0.1rem;
}

.App .docsContent > .docsContentSection > .endpointCategory > h1 > a {
  color: white;
  list-style: circle inside;
}

.App .docsContent > .docsContentSection > .endpointCategory > h1 > a:hover {
  text-decoration: underline;
}