.App {
  font-family: Circular, Helvetica, Arial, sans-serif;
  text-align: left;
}

.App-header {
  background-color: #fff;
  padding: 20px;
  color: white;
}

.App-logo {
  height: 40px;
}

.App .secondaryNav {
  padding: 20px;
}

.App .secondaryNav.secondaryNav-webApi {
  background: #f59b23;
  color: #fff;
}

.App .secondaryNav.secondaryNav-webApi h2 {
  padding: 0;
  margin: 0;
  position: relative;
}

.App .secondaryNav.secondaryNav-webApi h2 > span.beta {
  display: inline-block;
  position: absolute;
  top: 6px;
  padding: 5px;
  margin-left: 10px;
  
  background: rgba(0, 0, 0, 0.5);
  
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0;
}