.App {
  font-family: Circular, Helvetica, Arial, sans-serif;
  text-align: left;
}

.App-header {
  padding: 20px;
  color: white;
}

.App-footer {
  background-color: #000;
}

.App-logo {
  height: 40px;
}

.App .secondaryNav {
  padding: 30px;
}

.App .secondaryNav.secondaryNav-webApi {
  background: #f59b23;
  color: #FFF;
}

.App .secondaryNav.secondaryNav-webApi h1 {
  padding: 0;
  margin: 0;
}

.App .secondaryNav.secondaryNav-webApi h1 > span.version {
  display: inline-block;
  padding: 5px 10px;
  margin-left: 10px;
  position: relative;
  top: -8px;
  
  background: rgba(0, 0, 0, 0.3);
  
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0;
}

.App .sidebarNav {
  word-wrap: break-word;
}

.App .sidebarNav > ul {
  margin: 0;
  padding: 10px 0;
  line-height: 1.75;
}

.App .sidebarNav > ul > li > ul {
  margin: 0;
  padding: 0 20px;
  line-height: 1.5;
}

.App .sidebarNav > ul > li,
.App .sidebarNav > ul > li > ul > li {
  list-style: circle inside;
}

.App .sidebarNav > ul > li > a {
  font-size: 20px;
  font-weight: 800;
}

.App .sidebarNav > ul > li > ul > li > a {
  font-size: 19px;
}

.App .sidebarNav > ul > li a {
  color: #191919;
}

.App .sidebarNav > ul > li a:hover {
  text-decoration: underline;
}